default partial alphanumeric_keys modifier_keys
xkb_symbols "{{ layout_name }}" {

    name[Group1]= "{{ layout_desc }}";

    key <TLDE> {	[     grave,	asciitilde	]	};
    key <AE01> {	[     {{ e_key_1 }},	exclam 		]	};
    key <AE02> {	[     {{ e_key_2 }},	at		]	};
    key <AE03> {	[     {{ e_key_3 }},	numbersign	]	};
    key <AE04> {	[     {{ e_key_4 }},	dollar		]	};
    key <AE05> {	[     {{ e_key_5 }},	percent		]	};
    key <AE06> {	[     {{ e_key_6 }},	asciicircum	]	};
    key <AE07> {	[     {{ e_key_7 }},	ampersand	]	};
    key <AE08> {	[     {{ e_key_8 }},	asterisk	]	};
    key <AE09> {	[     {{ e_key_9 }},	parenleft	]	};
    key <AE10> {	[     {{ e_key_10 }},	parenright	]	};
    key <AE11> {	[     {{ e_key_11 }},	underscore	]	};
    key <AE12> {	[     {{ e_key_12 }},	plus		]	};

    key <AD01> {	[     {{ d_key_1 }},	Q		]	};
    key <AD02> {	[     {{ d_key_2 }},	W		]	};
    key <AD03> {	[     {{ d_key_3 }},	E		]	};
    key <AD04> {	[     {{ d_key_4 }},	R		]	};
    key <AD05> {	[     {{ d_key_5 }},	T		]	};
    key <AD06> {	[     {{ d_key_6 }},	Y		]	};
    key <AD07> {	[     {{ d_key_7 }},	U		]	};
    key <AD08> {	[     {{ d_key_8 }},	I		]	};
    key <AD09> {	[     {{ d_key_9 }},	O		]	};
    key <AD10> {	[     {{ d_key_10 }},	P		]	};
    key <AD11> {	[     {{ d_key_11 }}, braceleft  	]	};
    key <AD12> {	[     {{ d_key_12 }}, braceright	]	};

    key <AC01> {	[     {{ c_key_1 }},	A		]	};
    key <AC02> {	[     {{ c_key_2 }},	S		]	};
    key <AC03> {	[     {{ c_key_3 }},	D		]	};
    key <AC04> {	[     {{ c_key_4 }},	F		]	};
    key <AC05> {	[     {{ c_key_5 }},	G		]	};
    key <AC06> {	[     {{ c_key_6 }},	H		]	};
    key <AC07> {	[     {{ c_key_7 }},	J		]	};
    key <AC08> {	[     {{ c_key_8 }},	K		]	};
    key <AC09> {	[     {{ c_key_9 }},	L		]	};
    key <AC10> {	[     {{ c_key_10 }},	colon	]	};
    key <AC11> {	[     {{ c_key_11 }},	quotedbl]	};

    key <AB01> {	[     {{ b_key_1 }},	Z 		]	};
    key <AB02> {	[     {{ b_key_2 }},	X		]	};
    key <AB03> {	[     {{ b_key_3 }},	C		]	};
    key <AB04> {	[     {{ b_key_4 }},	V		]	};
    key <AB05> {	[     {{ b_key_5 }},	B		]	};
    key <AB06> {	[     {{ b_key_6 }},	N		]	};
    key <AB07> {	[     {{ b_key_7 }},	M		]	};
    key <AB08> {	[     {{ b_key_8 }},	less		]	};
    key <AB09> {	[     {{ b_key_9 }},	greater		]	};
    key <AB10> {	[     {{ b_key_10 }}, question	]	};

    key <BKSL> {	[     {{misc_BKSL}},    bar	]	};
};
