<layout>
  <configItem>
    <name>{{ layout_name }}</name>
    <!-- Keyboard indicator for English layouts -->
    <shortDescription>{{ layout_name }}</shortDescription>
    <description>{{ layout_desc }}</description>
    <languageList>
      <iso639Id>eng</iso639Id>
    </languageList>
  </configItem>
  <variantList>
  </variantList>
</layout>

